@page "/clubs/{ClubId:long}/players/create"

@using Calcio.Shared.Security
@using Calcio.UI.Components.Players.Shared
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = Roles.ClubAdmin)]

<PageTitle>Create Player</PageTitle>

<div class="container-fluid py-4">
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/account/manage/clubs">Clubs</a></li>
            <li class="breadcrumb-item"><a href="/clubs/@ClubId/players">Players</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Player</li>
        </ol>
    </nav>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-6">
            <div class="card shadow">
                <div class="card-header">
                    <h4 class="mb-0"><i class="bi bi-person-plus me-2"></i>Create New Player</h4>
                </div>
                <div class="card-body">
                    <CreatePlayerForm ClubId="ClubId" CancelUrl="/account/manage/clubs" @rendermode="InteractiveAuto" />
                </div>
            </div>
        </div>
    </div>
</div>