@using Calcio.Shared.DTOs.Clubs
@using Microsoft.AspNetCore.Components.QuickGrid

<div class="card shadow mb-4">
    <div class="card-header">
        <form @onsubmit:preventDefault>
            <div class="input-group" role="search">
                <input type="text" @bind-value="SearchTerm" @bind-value:event="oninput" id="ClubSearch"
                    name="ClubSearch" class="form-control" placeholder="Search by name, city, or state"
                    autocomplete="off" />
            </div>
        </form>
    </div>
    <div class="card-body">
        <QuickGrid TGridItem="BaseClubDto" Items="FilteredClubs.AsQueryable()"
            class="table table-responsive table-borderless table-hover">
            <PropertyColumn Title="Name" Property="c => c.Name" />
            <PropertyColumn Title="City" Property="c => c.City" />
            <PropertyColumn Title="State" Property="c => c.State" />
        </QuickGrid>
    </div>
</div>